@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base-dark: #0a0a0a;
  --spacing-83: 21rem;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Tambahan token warna yang dipakai di komponen */
  --color-danger-500: #ef4444; /* setara Tailwind red-500 */
  --color-base-white: #ffffff;
  --color-base-card: #1f1f1f; /* kartu gelap */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
